.nuevo__producto {
 padding: 1rem 0;
}

.neuvo__producto-container {
 width: 90%;
 margin: 0 auto;
}
.nuevo__agregar h2 {
 font-weight: var(--font-weight-700);
 color: var(--fuente-preto);
 line-height: 1.7rem;
 padding: 1.5rem 0;
}